@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono", helvetica, serif;
}

body {
  background-color: #faf3dd;
  font-family: Inter, helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#logo_link {
  padding-top: 5px;
}

header {
  background-color: #0b3954;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

.home-title {
  font-size: 2em;
  margin-top: 10px;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 35px;
}

main img {
  box-sizing: border-box;
}

nav a:hover {
  background-color: #b8f2e6;
  color: #000;
}

.book,
.join {
  background-color: #0b3954;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #b8f2e6;
}

#background {
  background-color: #0b3954;
}

#hero-img {
  width: 100%;
}

.msg {
  background-color: #43563f;
  line-height: 1.5em;
  padding: 35px;
}

.msg p {
  font-size: 0.8em;
  padding-bottom: 15px;
}

footer {
  background-color: #43563f;
  padding: 25px 50px;
  margin-top: 200px;
}

footer p {
  font-size: 1.2em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}

.icon,
.logo {
  width: 80px;
}

.icon {
  padding-top: 10px;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

.card-img {
  border: 10px solid black;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
}
